<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Proyecto Tramo 1</title>
        <!--Ejercicio 1: 2)-->
        <style>
            p {
                color: #042c57;
            }
        </style>
        <!--Ejercicio 2: c)-->
        <link rel="stylesheet" href="miestilo.css">
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/bb43eece67.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1>Kame Senryū WEB</h1>
            <img class="logo" src="imagenes\kanji-kame.png" alt="logo kame house"><!--Ejercicio 6: d) (logo)-->
            <!--Ejercicio 6: a)-->
            <nav>
                <ul><!--Ejercicio 6: b)-->
                    <li><a href="http://www.google.com" target="_blank">Google</a></li>
                    <li><a href="http://ar.yahoo.com" target="_blank">Yahoo</a></li>
                    <li><a href="http://talentosdigitales.ar" target="_blank">Talentos Digitales</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <img class="kame-house" src="imagenes\peakpx.png" alt="Imagen de Kame House"><!--Ejercicio 6: d) (imagen)-->
        </section>
        <section>
        <div class="seccion"><!--Ejercicio 4: 1.-->
            <p class="parrafo">La Escuela Tortuga, también conocida como Kame Senryū en japonés, es un estilo de artes marciales ficticio 
                que desempeña un papel central en el universo de Dragon Ball, la icónica serie de manga y anime creada por Akira Toriyama. 
                Este estilo es enseñado por el maestro Muten Roshi, más conocido como Kame Senin o Maestro Roshi, un legendario artista marcial
                 y mentor de varios personajes principales en la serie, incluyendo a Goku y Krilin.
            </p>
            <!--Ejercicio : 2.-->
            <p> El nombre "Escuela Tortuga" proviene del lugar donde Kame Senin reside, la Isla Tortuga, un remoto lugar de entrenamiento ubicado 
                en medio del océano. Aquí, los estudiantes de la Escuela Tortuga son sometidos a rigurosos regímenes de entrenamiento físico y mental, 
                diseñados para desarrollar su fuerza, velocidad, agilidad y técnicas de combate.
            </p>    
        </div>
        </section>
        <footer class="pie-pagina"><!--Ejercicio 5: 2.-->
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="http://talentosdigitales.ar" target="_blank">
                            <img class="logo-td" src="imagenes\logo TD.png" alt="logo-talentos-digitales">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE ESTA WEB</h2>
                    <P>Esta web es se realizo para cumplimentar con el Ejercicio de integracion_HTML-CSS correspondiente al Tramo 1 del 
                        Modulo 2 del Curso de programacion de Talentos Digitales.
                    </P>
                    <P>Talentos Digitales es un programa del Gobierno de la provincia de Corrientes, junto a TELCO, la Universidad Nacional del Nordeste
                        y el PoloIT Corrientes</P>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="https://www.facebook.com/profile.php?id=100000429624310" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://www.instagram.com/g0nzar0driguez" target="_blank" class="fa fa-instagram"></a>
                        <a href="https://x.com/baster18" target="_blank" class="fa fa-twitter"></a>
                        <a href="https://www.youtube.com/channel/UCSLHU5s072e48SfAFSESwcA" target="_blank" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2024 <b>GR</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>
    </body>
</html>